{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
  <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
      <js-placeholder token="{{ placeholder_token }}">
        {{ touch_icons }}
        </head>
        <body{{ attributes.addClass(body_classes) }}>
          <div class="u-visually-hidden">
            <svg xmlns="http://www.w3.org/2000/svg"><symbol id="svg-icon-arrow" viewBox="0 0 16 11"><path fill="currentColor" d="M15.744 4.654L11.299.258a.895.895 0 0 0-1.257 0 .871.871 0 0 0 0 1.243l2.928 2.895H.892a.884.884 0 0 0-.89.88c0 .486.398.879.89.879H12.97L10.042 9.05a.871.871 0 0 0 0 1.243.895.895 0 0 0 1.257 0l4.445-4.395a.876.876 0 0 0 0-1.244z"></path></symbol><symbol id="svg-icon-chevron-left" viewBox="0 0 16 16"><path fill="currentColor" d="M4.37 8l6.29 6.67 1-1L6.33 8l5.3-5.64-1-1z"></path></symbol><symbol id="svg-icon-chevron-right" viewBox="0 0 16 16"><path fill="currentColor" d="M5.34 1.33l-1 1L9.67 8l-5.3 5.64 1 1L11.63 8z"></path></symbol>

              <symbol id="svg-icon-facebook" viewBox="0 0 30 30"><path fill="currentColor" d="M18.6 15.2h-2v8h-3v-8H12v-2.7h1.5v-1.7c0-2.2.9-3.6 3.3-3.6h2V10h-1.3c-.9 0-1 .4-1 1.1v1.4h2.3l-.2 2.7z"></path></symbol>

              <symbol id="svg-icon-youtube" viewBox="0 0 30 20"><path d="M19.819 10.359L12.01 5.923v8.872l7.809-4.436z" fill="currentColor"/></symbol>


              <symbol id="svg-icon-hamburger" viewBox="0 0 16 16"><g fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round"><path class="st0" d="M1 14h14M1 2h14M1 8h14"></path></g></symbol><symbol id="svg-icon-home-speechbubbles" viewbox="0 0 31 21.62"><defs><style>.cls-0{fill:#9bb0c7}.cls-1{fill:#d8e2e7}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-0" d="M29.76,0H11.16A1.24,1.24,0,0,0,9.92,1.24v2.6h9.8A2.24,2.24,0,0,1,22,6.08v8.8h2l1.89,1.89a.5.5,0,0,0,.7,0l1.89-1.89h1.36A1.24,1.24,0,0,0,31,13.64V1.24A1.24,1.24,0,0,0,29.76,0Z"/><path class="cls-1" d="M19.84,4.71H1.24A1.24,1.24,0,0,0,0,6v12.4a1.24,1.24,0,0,0,1.24,1.24H2.6l1.89,1.89a.5.5,0,0,0,.7,0l1.89-1.89H19.84a1.24,1.24,0,0,0,1.24-1.24V6A1.24,1.24,0,0,0,19.84,4.71Z"/></g></g></symbol><symbol id="svg-icon-home-heart" viewBox="0 0 56 56"><style>.st0{fill:#d8e2e7}.st1{fill:#92b0cb}</style><path class="st0" d="M40 4c-4.1 0-9 2.1-12 7.8C24.9 6.1 20.1 4 16 4 9.1 4 2 9.8 2 19.4c0 13.9 23.7 31.4 24.7 32.1.7.5 1.8.5 2.5 0 1-.7 24.7-18.3 24.7-32.1C54 9.8 46.9 4 40 4z"></path><path class="st1" d="M52.2 31.6c0 .7-.6 1.3-1.2 1.3H36.8l-2.7 5.6c-.2.4-.6.7-1.1.7-.6 0-1.1-.4-1.2-1l-3.1-11.6-3.6 7.6c-.2.4-.6.7-1 .7-.5 0-.9-.2-1.2-.6l-3-4.8-1.9 2.8c-.2.3-.6.5-1 .5H5c-.7 0-1.2-.6-1.2-1.3 0-.7.6-1.3 1.2-1.3h11.4l2.6-3.7c.2-.3.6-.5 1-.5s.8.2 1 .6l2.8 4.5 4-8.6c.2-.4.6-.7 1.1-.7.6 0 1.1.4 1.2 1l3.1 11.6 1.6-3.3c.2-.4.6-.7 1.1-.7h15c.8-.2 1.3.4 1.3 1.2z"></path></symbol><symbol id="svg-icon-home-shield" viewBox="0 0 56 56"><style>.st0{fill:#d8e2e7}.st1{fill:#92b0cb}</style><path class="st0" d="M28 .5c-6 6-23.9 10.8-23.9 10.8 0 19 1.2 35.7 23.9 44.1C50.7 47 51.9 30.3 51.9 11.3c0 0-17.9-4.8-23.9-10.8z"></path><path class="st1" d="M36.4 25.4h-6.1v-6.1h-5.6v6.1h-6.1V31h6.1v6.1h5.6V31h6.1z"></path></symbol><symbol id="svg-icon-key-info-placeholder" viewBox="0 0 61 58"><path fill="currentColor" d="M36.702.078l-1.676 23.888 21.653-8.242 3.423 12.573-22.073 4.889 14.18 17.532-11.036 7.335-11.037-19.139-11.105 19.139-10.967-7.335 14.11-17.532L.102 28.297l3.422-12.573 21.653 8.242L23.571.078z"></path></symbol><symbol id="svg-icon-linkedin" viewBox="0 0 30 30"><path fill="currentColor" d="M11.9 21.5H8.5v-8.9h3.4v8.9zm-1.7-10.2c-1.1 0-1.7-.8-1.7-1.7S9.2 8 10.2 8c1.1 0 1.7.8 1.7 1.7.1.8-.6 1.6-1.7 1.6zm7.9 4.1c-.8 0-1.4.6-1.4 1.4v4.8h-3.4v-8.9h3.4v1s1.1-1 2.7-1c2 0 3.5 1.5 3.5 4.3v4.5h-3.4v-4.8c-.1-.7-.7-1.3-1.4-1.3z"></path></symbol><symbol id="svg-icon-search" viewBox="28 28 16 16"><path d="M34.545 41.091c1.55 0 2.974-.545 4.097-1.449l4.115 4.144a.726.726 0 1 0 1.031-1.027l-4.122-4.15a6.504 6.504 0 0 0 1.425-4.064A6.553 6.553 0 0 0 34.545 28 6.553 6.553 0 0 0 28 34.545a6.553 6.553 0 0 0 6.545 6.546zm0-11.636a5.097 5.097 0 0 1 5.091 5.09 5.097 5.097 0 0 1-5.09 5.091 5.097 5.097 0 0 1-5.091-5.09 5.097 5.097 0 0 1 5.09-5.091z" fill="currentColor"></path></symbol><symbol id="svg-icon-twitter" viewBox="0 0 30 30"><path fill="currentColor" d="M21.7 12.5v.4c0 4.1-3.1 8.8-8.8 8.8-1.7 0-3.4-.5-4.7-1.4 1.6.2 3.2-.2 4.6-1.3-1.3 0-2.5-.9-2.9-2.1.5.1.9.1 1.4-.1-1.4-.3-2.5-1.5-2.5-3 .4.2.9.4 1.4.4-.8-.6-1.4-1.5-1.4-2.6 0-.6.2-1.1.4-1.6 1.5 1.9 3.8 3.1 6.4 3.2-.1-.2-.1-.5-.1-.7 0-1.7 1.4-3.1 3.1-3.1.9 0 1.7.4 2.3 1 .7-.1 2.3-.3 2.3-.3-.5.7-.9 2-1.5 2.4z"></path></symbol></svg>
          </div>
          {{ page_top }}
          {{ page }}
          {{ page_bottom }}
        <js-bottom-placeholder token="{{ placeholder_token }}">
          </body>
          </html>
