<main>
  <header class="hero panel">
    <div class="hero__image-wrapper">
      <div class="hero__image-container">
        <svg class="hero__image-background" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 642.8"
             role="presentation">
          <polygon fill="#9DB6C2" points="0,0 750,0 750,205 0,642.8 "/>
          <polygon fill="#658C9F" points="1500,642.8 750,205 750,0 1500,0 "/>
        </svg>
        <div class="hero__image ratio ratio--1-to-1">
          <img alt="" class="ratio__content" src="/{{ directory }}/assets/images/hero.svg">
        </div>
      </div>
    </div>
    <div class="wrapper wrapper--gutter">
      <h1 class="hero__title">{{ label }}</h1>
      {{ content.field_3_items_grid }}
      <p class="hero__intro">{{ content.field_hero_intro }}</p>
    </div>
  </header>
  <div class="panel panel--alt">
    <div class="wrapper  wrapper--gutter">
      {{ content.field_testimonial }}
      {{ content.field_featured_articles }}
    </div>
  </div>
  <div class="u-pb-large">
    <div class="wrapper  wrapper--gutter">
      {{ content.field_content_area }}
    </div>
  </div>
  <div class="panel">
    <div class="wrapper  wrapper--gutter">
      {{ content.field_case_studies }}
    </div>
  </div>

  {{ content.field_footer_area }}
</main>
