<div class="content    u-font-body-copy">

    {{#sections}}

        <section>

            <h2 id="{{id}}">{{title}}</h2>

            {{{content}}}

            {{#action}}

                {{> @call-to-action}}

            {{/action}}

        </section>

    {{/sections}}

    <ul class="content__actions">

        {{#actions}}

            <li class="content__action">

                <a class="button  button--tertiary" href="{{href}}">{{label}}</a>

            <!-- /li -->

        {{/actions}}

    </ul>

</div>
