<main class="layout">

    <aside class="layout__item  layout__item--secondary{{#search-results}}  layout__item--important{{/search-results}}">

        {{#if search-results}}

            {{render '@refine'}}

        {{else}}

            {{render '@table-of-contents'}}

        {{/if}}

    </aside>


    <article class="layout__item  layout__item--primary">

        {{#search-results}}

            {{> @search-results}}

        {{/search-results}}

        {{^search-results}}

            {{render '@intro'}}

            {{render '@content'}}

        {{/search-results}}

    </article>

</main>
