<section class="accordion">

    <a class="accordion__trigger" href="#{{id}}" id="{{id}}">

        <h{{level}} class="accordion__title">{{title}}</h{{level}}>

    </a>

    <div class="accordion__content">

        {{{content}}}

    </div>

</section>