<svg class="svg-icon{{#if inline}} svg-icon--inline{{/if}}{{#classes}} {{.}}{{/classes}}" xmlns="http://www.w3.org/2000/svg" {{#if title}}title="{{title}}"{{else}}role="presentation"{{/if}}>

    {{#if title}}

        <title>{{title}}</title>

    {{/if}}

    <use xlink:href="#svg-icon-{{icon}}"/>

</svg>
