<button class="button{{#modifiers}} button--{{.}}{{/modifiers}}" type="button">Button</button>

<!-- or -->

<button class="button{{#modifiers}} button--{{.}}{{/modifiers}}" type="submit">Submit button</button>

<!-- or -->

<input class="button{{#modifiers}} button--{{.}}{{/modifiers}}" type="button" value="Button input">

<!-- or -->

<input class="button{{#modifiers}} button--{{.}}{{/modifiers}}" type="submit" value="Submit input">

<!-- or -->

<a class="button{{#modifiers}} button--{{.}}{{/modifiers}}" href="#">Link</a>

<!-- or -->

<span class="button{{#modifiers}} button--{{.}}{{/modifiers}}">Faux button</span>
